#background {
 background-color: #F6F6E8;
 height: 450px; 
 width: 800px; 
 margin: 0 auto;
 margin-left: 400px;
 margin-top: 20px;
 border-radius: 10px;
 box-shadow: 2px 2px 2px #888888;

 
}

body {
 background-color: #F5F4EB;
 background-image: url("images/to_do.jpg");
}

h3 {
	font-family: Tahoma;
 	color: #333333;
 	margin: 0 auto;
 	margin: 50 50px;
}
.strikethrough:checked + span {
	background-color:#C0C0C0;
    text-decoration: line-through;
}

.cards {
  width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px;
}

*, *:before, *:after {box-sizing:  border-box !important;}


h3 {
	text-shadow: 50px; 
 	color: #C0C0C0;
}

#lists {
  width: 500px;
  height: 200px;
  padding-top: 30px; 
  padding-left: 50px;
  padding-right: 50px; 
  color: #000;
  list-style-type: 234px;

}

.checkbox {
	margin-top: 20px;
	width: 500px;
	height: 40px;	


}

.sidebar {
	box-shadow: 3px 3px 3px #888888;
	background-color: #F6F6E8;
	margin-top: 25;
}

.accordion {

	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px; 
	margin-left: 20px;
	border-radius: 10px; 
	box-shadow: 3px 3px 3px #888888;
	height: 50px;
	background-color: #E9E9E9;
}

#title {
	color: #000;
	font-family: impact;
	text-align: center;
}

#text {

	font-family: Tahoma;
	color: #333333;
	
}

#Add {
	border-radius: 10px;
	object-position: top;
	margin-top: 20px;
	margin-left: 5px;
	background-color: #D43F3F;
}

.firstpage {
	background-color: #fff;
	margin: 0 auto;
	margin: 50 50px;
	width: 500px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #888888;


}

#social {
	width: 200px;
	margin-top: 200px;
	margin-left: 500px;

}

