a {
	color: #fff;
	text-decoration: none;
}

.me {
	width: 400px;
	margin: 90px auto;
}

.me p,
.me h1 {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}

.me p {
	font-weight: 200;
}

.me span {
	font-weight: bold;
}

.social {
	position: fixed;
	top: 20px;
}

.social ul {
	padding: 0px;
	
}