<div id="row">	
{% for lis in lists %}
			<div class="well" style="max-height: 450px; overflow: auto;" >
			   <a  href="#" data-toggle="modal" data-target="#addModal">
					<div class="caption">{{ lis.title }}</div>	
				</a>
				<p>
					{% for tas in lis.tasks %}
                  	<div class="checkbox">
	                  	<label>
		     				<input class="strikethrough"  type="checkbox" value="1"><span>{{ tas.body }}</span>
	   					</label>
   					</div>
                  	{% endfor %}
                </p>
                <form action="{{ url_for('.delete_task', id = lis.id) }}" method="post">
					<button type="submit" class="close" data-dismiss='{{ lis.title }}'><h5>Delete<h5></button>
				</form>	

			</div>
		
	
{% endfor %}
</div>
{% include '_mymodal.html' %}


