<!-- The base html  -->

<!-- An extension from flask-bootstrap -->
{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block title %} To Do {% endblock %}

<!-- Contains additional css ontop of flask-bootstrap -->
{% block styles %}
{{ super() }} 
	<link href="{{ url_for('static', filename = 'css/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/card.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="{{ url_for('static', filename = 'css/bootstrap-social.css') }}" rel="stylesheet">
	<link href="http://mdbootstrap.com/mdbcdn/mdb.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">

{% endblock %}


{% block navbar %}
<nav class="navbar default-color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" href="/index">To Do</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" class="waves-effect waves-light">Link<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-light">Link</a>
                </li>
                        
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                </li>
            </ul>
            {% block nav %}{% endblock %}
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
	<div class="container-fluid" id="body">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning" >
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				 {{ message }}
			</div>
		{% endfor %}

	{% block page_content %}{% endblock %}
	</div>
    {% block scripts %}
    {{ super()}}
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js">
        </script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.masonary.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/card.js') }}"></script> 
    {% endblock %}
{% endblock %}

