<!-- main page -->

{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="form">
	<form method=post>
	{{ form1.hidden_tag() }}
		{{ form1.card (class_="u-full-width", placeholder="New Card", maxlength=128) }}
		{{ form1.submit }}
	</form>
</div>	
	<!-- Posts -->
{% for cad in cards %}
	<!-- <div id="grid" class="container"> -->
	<div class="wrapper">
		<div id="main">
			<div id="items" class="row-fluid">
				<div class=" item masonry-brick">
					<div class="picture">
						<div class="item-content">
							<div class="decription">
								<p> {{ cad.cad }} </p>
							</div>
							<form action="{{ url_for('main.task', id=cad.id) }}"method=post>
								{{ wtf.quick_form(task_form)}}
							</form>
							{% for task in cad.tasks %}
								<form action="{{ url_for('main.delete_task', id = task.id) }}" method="post">
									<button class="close">x</button>
								</form>
								<p><input class="strikethrough"  type="checkbox" value="1">{{ cad.tasks }}</p>
								
							{% endfor %}
							<div class="meta">
								<span>
									<i class="icon-calendar"></i>
								</span>
								<span>
									<i class="icon-heart-empty"></i>
									<form action="{{ url_for('main.delete_card', id = cad.id) }}" method="post">
										<button class="close">Delete</button>
									</form>
								</span>
							</div>
						</div>
					</div>
				</div>
	{% endfor %}
	<script type="text/javascript">
		$('#my_checkbox')[0].checked = true;
		$('#my_checkbox')[0].checked = false;
	</script>
{% endblock %}